USE [master]
GO
/****** Object:  Database [demotest1]    Script Date: 27.02.2026 15:27:05 ******/
CREATE DATABASE [demotest1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'demotest1', FILENAME = N'C:\Users\arino\demotest1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'demotest1_log', FILENAME = N'C:\Users\arino\demotest1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [demotest1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [demotest1]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 27.02.2026 15:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[middle_name] [nvarchar](50) NULL,
	[birth_date] [date] NOT NULL,
	[postal_code] [nvarchar](20) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[client_code] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 27.02.2026 15:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_code] [nvarchar](50) NOT NULL,
	[created_date] [date] NOT NULL,
	[created_time] [time](7) NOT NULL,
	[client_code] [nvarchar](50) NOT NULL,
	[services] [nvarchar](max) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[closed_date] [date] NULL,
	[rental_duration] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[order_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_order_full_info]    Script Date: 27.02.2026 15:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Представление для полной информации о заказах
CREATE VIEW [dbo].[v_order_full_info] AS
SELECT 
    o.id AS order_id,
    o.order_code,
    o.created_date,
    o.created_time,
    c.last_name + ' ' + c.first_name + ' ' + ISNULL(c.middle_name, '') AS client_full_name,
    c.email,
    c.address,
    o.status,
    o.rental_duration,
    o.closed_date
FROM orders o
LEFT JOIN clients c ON o.client_id = c.id;
GO
/****** Object:  Table [dbo].[services]    Script Date: 27.02.2026 15:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[price_per_hour] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_services]    Script Date: 27.02.2026 15:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
	[quantity] [int] NULL,
	[price_at_time] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_order_details]    Script Date: 27.02.2026 15:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Представление для детализации услуг в заказах
CREATE VIEW [dbo].[v_order_details] AS
SELECT 
    o.order_code,
    o.created_date,
    c.last_name + ' ' + c.first_name AS client_name,
    s.name AS service_name,
    s.code AS service_code,
    os.quantity,
    os.price_at_time,
    os.quantity * os.price_at_time AS line_total,
    o.status,
    o.rental_duration
FROM order_services os
JOIN orders o ON os.order_id = o.id
LEFT JOIN clients c ON o.client_id = c.id
JOIN services s ON os.service_id = s.id;
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_clients_client_code]    Script Date: 27.02.2026 15:27:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_clients_client_code] ON [dbo].[clients]
(
	[client_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_services_order_id]    Script Date: 27.02.2026 15:27:06 ******/
CREATE NONCLUSTERED INDEX [IX_order_services_order_id] ON [dbo].[order_services]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_services_service_id]    Script Date: 27.02.2026 15:27:06 ******/
CREATE NONCLUSTERED INDEX [IX_order_services_service_id] ON [dbo].[order_services]
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[order_services] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[order_services]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_services]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_clients1] FOREIGN KEY([id])
REFERENCES [dbo].[clients] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_clients1]
GO
USE [master]
GO
